body {
    font: 16px "Bitter", Georgia, Times New Roman, serif;
    color: #333;
}

header {
    background: #000;
    box-shadow: 0 0 5px #333;
    -webkit-box-shadow: 0 0 5px #333;
    -moz-boz-shadow: 0 0 5px #333;
}

.main-nav {
    margin-top: 32px;
}

.mobile-nav li, .main-nav li {
    margin-right: 10px;
}

.mobile-nav ul {
    padding-left: 0;
}

nav li {
    display: inline-block;
}

nav li a {
    text-decoration: none;
    font-size: 1.2em;
    color: #fff;
    border-bottom: 1px solid transparent;
    transition: 0.9s;
}

nav li a:hover {
    border-bottom: 1px solid #4d82d6;
    background: transparent;
    color: #fff;
}

nav ul li { 
    font-family: "Source Sans Pro", Helvetica, Verdana, sans-serif; 
}

header h1 { font-size: 2.6em;  }

header h1 a, header h1 a:hover {
    text-decoration: none;
    color: #fff;
}

header h1 a {
    border-bottom: 1px solid #4d82d6;
    transition: 0.9s;
}

header h1 a:hover {
    color: #4d82d6;
    background: transparent;
    border-bottom: 1px solid transparent;
}

a {
    text-decoration: none;
    color: #4d82d6;
    transition: 0.45s;
}

a:hover {
    background: #f3faaa;
    color: #333;
}

h2 a, h3, h4, h5, h6 {
    font-family: "Source Sans Pro", Helvetica, Verdana, sans-serif;
    color: #151515;
}

article h2 { 
    font-size: 2em;
    margin-bottom: 5px;
}

article h2 a:hover {
    background: transparent;
}

article {
    font-size: 1.125em;
    line-height: 1.7;
    color: #353535;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

p.post-date {
    margin-top: 0;
}

ul.post-tags {
    margin-left: 0;
    padding-left: 0;
}

ul.post-tags li {
    font-style: oblique;
    display: inline-block;
}

ul.post-tags li , ul.post-tags li a {
    color: #999;
}

ul.post-tags li a:hover {
    color: #4d82d6;
    background: transparent;
}