<!DOCTYPE html>
<html lang="en_GB">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }} &bull; {{ site.name }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- custom fonts  -->
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro|Bitter:400,700,400italic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/gridism.css">

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">
  </head>

  <body class="wrap">
    <header>
      <div class="grid">
        <div class="unit half center-on-mobiles site-title">
          <h1><a href="/">Jake Moreman</a></h1>
        </div>

        <nav class="mobile-nav center-on-mobiles show-on-mobiles">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/archive">Archive</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/about">About</a></li>
          </ul>
        </nav>

        <nav class="main-nav unit half hide-on-mobiles">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/archive">Archive</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/about">About</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="grid">
      <div class="unit whole">
        <section class="main-section">
          <article class="post-snippet">
            <h2>Lorem Ipsum Dolar</h2>
            <strong>Tags:</strong>
            <ul class="tag-list">
              <li><a href="/tags/example">Example</a></li>
              <li><a href="/tags/test">Test</a></li>
            </ul>

            <p>Pellentesque habitant morbi tristique senectus et netus
              et malesuada fames ac turpis egestas. Vestibulum tortor
              quam, feugiat vitae, ultricies eget, tempor sit amet,
              ante. Donec eu libero sit amet quam egestas semper. Aenean
              ultricies mi vitae est. Mauris placerat eleifend leo.</p>

            <p>Pellentesque habitant morbi tristique senectus et netus
              et malesuada fames ac turpis egestas. Vestibulum tortor
              quam, feugiat vitae, ultricies eget, tempor sit amet,
              ante. Donec eu libero sit amet quam egestas semper. Aenean
              ultricies mi vitae est. Mauris placerat eleifend leo.</p>

            <p>Pellentesque habitant morbi tristique senectus et netus
              et malesuada fames ac turpis egestas. Vestibulum tortor
              quam, feugiat vitae, ultricies eget, tempor sit amet,
              ante. Donec eu libero sit amet quam egestas semper. Aenean
              ultricies mi vitae est. Mauris placerat eleifend leo.</p>

            <p>Pellentesque habitant morbi tristique senectus et netus
              et malesuada fames ac turpis egestas. Vestibulum tortor
              quam, feugiat vitae, ultricies eget, tempor sit amet,
              ante. Donec eu libero sit amet quam egestas semper. Aenean
              ultricies mi vitae est. Mauris placerat eleifend leo.</p>
          </article>
        </section>
      </div>
    </div>
  </body>
</html>
